# =============================
# POSTGRES
# =============================
POSTGRES_USER=ia_user
POSTGRES_PASSWORD=ia_password
POSTGRES_DB=ia_database
PGADMIN_DEFAULT_EMAIL=admin@gmail.com 
PGADMIN_DEFAULT_PASSWORD=admin123

